<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body class="show">
    <%- include('./partials/header.ejs') %>
    <div class="show">
        <h1 class="show"><%= plant.name %></h1>
        <div class="plant-page">
            <% if(plant.uplImage) { %>
                <img class="plant-img" src="<%= plant.uplImage %>" alt="<%= plant.name %>" />
           <% } else { %>
            <img class="plant-img" src="<%= plant.img %>" alt="<%= plant.name %>"/>
           <% } %>
            <div class="plant-det">
                <p><strong>Description:</strong> <%= plant.description %></p>
                <p><strong>Sunlight:</strong> <%= plant.sunlight %></p>
                <p><strong>Water:</strong> <%= plant.water %></p>
                <p><strong>Common Issues:</strong> <%= plant.problems %></p>
                <div class="options">
                <a href="/plants/<%= plant._id %>/edit" class="btn">Edit</a>
                <form action="/plants/<%=plant.id %>?_method=DELETE" method="POST">
                    <input class="btn delete-btn" type="submit" value="Delete">
                </form>
            </div>
        </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>